<!-- about.html -->
{% extends "index.html" %}

<body>
    {{ super() }}
    {% block content %}
    <h1>About Us</h1>
    <p>
        we are passionate about delivering innovative solutions
        that make a real difference. Our team of experts works
        tirelessly to provide high-quality products and services
        tailored to meet the unique needs of our clients.
        With a focus on creativity, collaboration, and customer satisfaction,
        we aim to inspire positive change and
        help businesses succeed in an ever-evolving world.
    </p>
    {% endblock %}
</body>
