<!-- product_display.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Product Display</title>
    </head>
    <body>
        <header>
            <h1>Product Display</h1>
        </header>
        <table>
            {% if products %}
            <tr>
                <th> Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            {% for row in products %}
            <tr>
                <td>{{ row['name'] }}</td>
                <td>{{ row['category'] }}</td>
                <td>{{ row['price'] }}</td>
            </tr>
            {% endfor %}
            {% else %}
                <p>No product found</p>
            {% endif %}
        </table>
    </body>
</html>
